.site-cat-reference {
  background-color: #f2f2f2;
}

.site-cat-reference__inner-container {
  padding-top: 75px;
  padding-bottom: 90px;
}

.cat-reference-top__wrapper {
  padding-bottom: 62px;

}

.cat-reference-top__container-title {
  margin: 0 auto 0 0;
}

.section-title {
  margin-top: 2px;
}

.cat-reference-top__container-button {
  margin: 0 0 0 auto;
}

.cat-reference-middle__wrapper {
  flex-direction: column;
}

.cat-reference-middle__container-article + .cat-reference-middle__container-article {
  margin-top: 70px;
}

.cat-reference__definition-term {
  margin-bottom: 18px;
}

.definition-term-text--bold {
  font-size: 1.5em;
  font-weight: 700;
  color: #000;
}

.definition-term-text--italic {
  color: #727272;
}

.cat-reference__link {
  position: relative;
  padding-bottom: 1px;
  font-style: italic;
  color: #aa947c;
  border-bottom: 2px solid #aa947c;
}

.cat-reference__link:after {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: -5%;
  left: 103%;
  background: url("../img/icons/sprite.png") -20px -20px no-repeat;
}

.cat-reference__link:hover {
  color: #8d745a;
  border-color: #8d745a;
}

.cat-reference__link:active {
  color: rgba(141, 116, 90, .3);
  border-color: rgba(141, 116, 90, .3);
}

.cat-reference__definition-description {
  display: flex;
  flex-direction: row;
}

.article-image {
  width: 100%;
  max-width: 100px;
  height: 100px;
  margin-right: 31px;
  border-radius: 5px;
  background-color: #c3c3c3;
}

.image-cat-colors {
  background: url("../img/article-1.jpg");
}

.image-cat-house {
  background: url("../img/article-2.jpg");
}

.article-text {
  width: 68%;
  line-height: 1.5;
}