.site-layout__features {
  display: flex;
  flex-direction: column;
}

.site-features__container {
  padding-top: 50px;
  padding-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
}

.site-features__inner-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}

.features-list {
  display: flex;
  flex-direction: row;
}

.features-list__list-item {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border-left: 1px solid rgb(217, 217, 217);
}

.feature-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 65px;
  height: 61px;
  background: rgba(64, 64, 64, 0.25) /*url("../img/icons/css_sprites.png") no-repeat*/;
}

.features-list__list-item:first-child {
 border-color: transparent;
}

.feature-title {
  font-size: 1.87em;
  margin-bottom: 23px;
}