.site-features__container {
  padding-top: 50px;
  padding-bottom: 90px;
}

.features-layer {
  display: flex;
  flex-direction: column;
}

.features-list {
  display: flex;
  flex-direction: row;
}

.features-list__list-item {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  border-left: 1px solid rgb(217, 217, 217);
}

.features-list__list-item:first-child {
  border-color: transparent;
}

.feature-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 65px;
  height: 61px;
  background: rgba(64, 64, 64, 0.25) /*url("../img/icons/css_sprites.png") no-repeat*/;
}

.feature-title {
  font-size: 1.87em;
  margin-bottom: 23px;
}

.feature-description {
  line-height: 1.5;
}