.site-feedback {
  background-color: #fff;
}

.site-feedback__inner-container {
  padding-top: 60px;
  padding-bottom: 70px;
}

.feedback-top__wrapper {
  padding-bottom: 75px;
}

.feedback-top__container-title {
  margin: 0 auto 0 0;
}

.feedback-top__container-tip {
  margin: 17px 0 0 auto;
}

.feedback-middle__wrapper {
  justify-content: space-between;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  max-width: 632px;
  width: 100%;
  margin-right: 15px;
}

.feedback-form__form-group + .feedback-form__form-group {
  margin-top: 25px;
}

.form-group-row .feedback-form__form-group {
  margin-top: 0;
  width: 100%;
  max-width: 287px;
}

.feedback-form__form-group {
  display: flex;
  flex-direction: column;
  padding-right: 4px;
}

.form-group-email {
  padding-right: 0;
}

.form-group-select {
  margin-top: 37px !important;
}

.feedback-form__select {
  position: relative;
  z-index: 1;
}

.feedback-form__select::after {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20px;
  height: 20px;
  border: 2px solid #d5d5d5;

}

.form-group-checkbox {
  margin-top: 31px !important;
  padding-right: 0;
}

.form-group-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback-form__label {
  display: block;
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 0.75em;
  text-transform: uppercase;
}

.feedback-form__input,
.feedback-form__select,
.feedback-form__textarea {
  padding: 17px 10px 15px 16px;
  box-sizing: border-box;
  font: inherit;
  border: 2px solid #d5d5d5;
}

.checkbox-label {
  display: flex;
  padding-bottom: 28px;
  font-size: 1.12em;
  border-bottom: 1px solid #d5d5d5;
}

.feedback-form__checkbox {
  display: none;
}

.checkbox-label-text {
  margin-top: 12px;
  display: inline-block;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-left: 17px;
  margin-right: 8px;
  border: 2px solid #d5d5d5;
}

.checkbox-container:before {
  content: "";
  display: block;
  width: 16px;
  height: 8px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
  border: 2px solid #8d745a;
  border-top: none;
  border-right: none;
  opacity: 0;
  transition: .1s;
}

.feedback-form__checkbox:checked + .checkbox-container:before {
  opacity: 1;
}

.feedback-form__textarea {
  padding-left: 17px;
  padding-top: 26px;
}

.form-group-button {
  margin-top: 53px !important;
}

.feedback-form__input:hover,
.checkbox-container:hover,
.feedback-form__select:hover,
.feedback-form__textarea:hover {
  border-color: #bebebe;
}

.feedback-form__input:active,
.checkbox-container:active,
.feedback-form__select:active,
.feedback-form__textarea:active,
.feedback-form__input:focus,
.checkbox-container:focus,
.feedback-form__select:focus,
.feedback-form__textarea:focus {
  border-color: #8d745a;
}

::placeholder {
  color: inherit;
}

.feedback-middle__image {
  max-width: 340px;
  width: 100%;
  height: 535px;
  margin-top: 25px;
  background: url("../img/feedbackimg.jpg") no-repeat;
  border-radius: 5px;
}