.site-layout__footer {
  background: #363636;
}

.footer-top {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-top__logo {
  width: 205px;
  margin: auto;
  margin-left: 0;
}

.footer-top__btn {
  margin: auto;
  margin-right: 0;
}

.footer-middle {
  padding-top: 50px;
  padding-bottom: 70px;
  border: 1px solid #5e5e5e;
  border-left: none;
  border-right: none;
}

.footer-middle__nav {
  display: flex;
  flex-direction: row;
  color: #c3c3c3;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-left: 0;
}

.footer-nav__list {
  margin-right: 55px;
}

.footer-nav__list li {
  padding-top: 25px;
}

.footer-nav__list li a {
  transition: all 0.1s;
}

.footer-nav__list li a:hover {
  color: #fff;
}

.footer-nav__list li a:active {
  color: #747474;
}

.footer-bottom {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-bottom__socials-and-copywright {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.socials-btns {
  display: flex;
  flex-direction: row;
}

.social-btn {
  width: 60px;
  height: 60px;
  margin-right: 11px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(64, 64, 64, 0.25) /*url("../img/icons/css_sprites.png") no-repeat*/;
  transition: all 0.1s;
}

.social-btn:hover {
  border-color: rgba(255, 255, 255, 0.3);
}

.social-btn:active {
  border-color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.0001);
}

.social-copywright {
  text-transform: uppercase;
}

.lets-be-friends,
.socials-btns,
.social-copywright {
  margin: auto;
  margin-top: 0;
}

.lets-be-friends {
  margin-top: 11px;
  margin-right: 40px;
}

.lets-be-friends,
.socials-btns {
  margin-left: 0;
}

.social-copywright {
  margin-top: 16px;
  margin-right: 0;
  word-spacing: 1px;
}

.social-copywright a {
  padding-bottom: 5px;
  transition: all 0.1s;
}

.social-copywright a:hover {
  border-bottom: 2px solid #a38b70;
}

.social-copywright a:active {
  color: #868686;
}

.heart {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 27px;
  height: 24px;
  background: rgba(145, 145, 145, 0.25) /*url("../img/icons/css_sprites.png") no-repeat*/;
}