.site-footer {
  background-color: #363636;
  color: #fff;
}

.site-footer__inner-container {
  padding-top: 43px;
}

.footer-top__wrapper {
  padding-bottom: 44px;
}

.footer-top__container-logo {
  width: 205px;
  height: 55px;
  margin: 0 126px 0 0;
}

.footer-top__container-button {
  margin: 5px 0 0 auto;
}

.footer-middle {
  border-top: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
}

.footer-middle__wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  padding-bottom: 69px;
}

.footer-middle__container-navigation {
  margin-right: 59px;
}

.footer-nav__list-item {
  margin-top: 27px;
}

.footer-nav__link {
  color: #c3c3c3;
  transition: all 0.2s;
}

.footer-nav__link:hover {
  color: #fff;
}

.footer-bottom__container-socials-and-copywright {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-bottom__tip {
  margin: 10px 40px auto 0;
}

.socials {
  display: flex;
  flex-direction: row;
}

.social__btn,
.copywright__heart {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, .1);
  background: url("../img/icons/sprite.png") no-repeat;
  transition: all 0.2s;
}

.social__btn:last-child {
  margin-right: 0;
}

.social__btn:hover {
  border-color: rgba(255, 255, 255, .3);
}

.social__btn:active {
  border-color: rgba(255, 255, 255, .1);
  opacity: 0.1;
}

.social-btn-vkontakte {
  background-position: 2px -48px ;
}

.social-btn-facebook {
  background-position: 5px -241px;
}

.social-btn-instagram {
  background-position: -1px -174px;
}

.copywright {
  margin: 20px 0 auto auto;
  font-size: 1em;
  text-transform: uppercase;
}

.copywright__heart {
  display: inline-block;
  width: 27px;
  height: 24px;
  margin: 0;
  vertical-align: middle;
  background-position: -20px -129px;
  border: none;
}

.copywright__link {
  transition: all 0.2s;
}

.copywright__link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #a38b71;
}

.copywright__link:active {
  color: rgba(255, 255, 255, .3);
}