.site-goods__container {
  padding-top: 75px;
  padding-bottom: 90px;
}

.goods-top__section-title {
  margin: 1px auto auto 0;
}

.goods-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  margin-bottom: 35px;
}

.goods-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.goods-list__good-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 306px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  border: 1px solid #d8d8d8;
}

.good-card-img,
.good-card-name-and-price,
.good-card-btns {
  flex-basis: 100%;
}

.good-card-name-and-price,
.good-card-btns {
  box-sizing: border-box;
  padding-left: 22px;
  padding-right: 22px;
}

.good-card-name-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 22px;
}

.good-card-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.goods-bottom__section-title {
  margin: 1px auto auto 0;
  padding-bottom: 65px;
}

.price-list-container {
  width: 100%;
}

.price-list-table {
  font-size: 1.125em;
}

.table-header,
.table-cell {
  padding: 15px;
}

.table-header:nth-child(4),
.table-cell:nth-child(4) {
  width: 15%;
}

.table-header {
  font-size: 0.78em;
  font-weight: 300;
  text-transform: uppercase;
}

.table-header:not(:first-child) {
  text-align: left;
}

.table-cell {
  border: 1px solid #d8d8d8;
}

.table-cell:nth-child(1) {
  width: 5%;
  text-align: center;
}

.table-cell:nth-child(2) {
  font-weight: 700;
}