.site-goods {
  background-color: #f2f2f2;
}

.site-goods__inner-container {
  padding-top: 70px;
  padding-bottom: 90px;
}

.goods-top__wrapper {
  padding-bottom: 66px;
}

.goods-top__container-title {
  margin: 0 auto 0 0;
}

.goods-top__container-button {
  margin: 0 0 0 auto;
}

.goods-middle__container-short-catalog {
  width: 100%;
}

.short-catalog {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.short-catalog__item {
  width: 100%;
  max-width: 306px;
  border: 1px solid #d9d9d9;
}

.short-catalog__item-content {
  display: flex;
  flex-direction: column;
}

.good-info {
  padding: 22px;
  padding-bottom: 15px;
}

.good-name-and-price {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 1em;
  color: #000;
}

.good-name {
  margin: 0 auto 0 0;
}

.good-price {
  margin: 0 0 0 auto;
  color: #525252;
}

.good-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn-good {
  width: 122px;
}

.site-services__inner-container {
  padding-top: 55px;
}

.services-top__wrapper {
  padding-bottom: 70px;
}

.services-middle__container-table {
  width: 100%;
}

.table-header,
.table-cell {
  padding: 15px;
}

.table-header {
  padding-bottom: 20px;
}

.table-cell {
  border: 1px solid #d9d9d9;
}

.t-header-0,
.t-cell-0 {
  width: 4.90%;
  padding: 0;
  text-align: center;
}

.table-header {
  font-weight: 400;
  text-transform: uppercase;
}

.t-header-1,
.t-header-2,
.t-header-3 {
  text-align: left;
}

.t-cell-1 {
  width: 44.80%;
  font-weight: 700;
  color: #000;
}

.t-cell-2 {
  width: 33.23%;
}

.t-cell-3 {
  width: 16.56%;
}