.site-header {
  background: url("/img/backgrounds/bg-header.png") no-repeat;
  background-size: cover;
}

.site-header__inner-container {
  padding-top: 34px;
}

.header-top__container-logo {
  width: 205px;
  height: 55px;
  margin: 0 126px 0 0;
}

.header-top__container-navigation {
  margin: 22px auto 0 0;
}

.header-nav__nav-list {
  display: flex;
  flex-direction: row;
}

.header-nav__list-item {
  margin-right: 50px;
}

.header-nav__link {
  padding-bottom: 3px;
  font-family: Arial, Roboto, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 400;
  color: #fff;
  transition: all 0.2s;
}

.header-nav__link:hover {
  border-bottom: 2px solid #fff;
}

.header-nav__link:active {
  color: rgba(255, 255, 255, .3);
  border-color: rgba(255, 255, 255, .3);
}

.header-top__container-button {
  margin: 5px 0 0 auto;
}

.header-middle__container-promo {
  margin-left: auto;
  margin-right: auto;
  padding-top: 117px;
  padding-bottom: 198px;
  text-align: center;
}

.header-promo {
  font-family: Georgia, sans-serif;
  font-size: 2.8125em;
  font-weight: 700;
  line-height: 1.35;
  color: white;
}