.site-layout__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  background: url("../img/backgrounds/bg-header.jpg")no-repeat;
  background-size: cover;
}

.site-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  color: #fff;
}

.site-header__container {
  padding-top: 35px;

}

.header-top {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header-top__logo {
  width: 205px;
  margin: auto;
  margin-left: 0;
}

.header-top__main-nav {
  margin: 23px auto auto 25px;
}

.header-nav {
  display: flex;
  flex-direction: column;
}

.header-nav__list {
  display: flex;
  flex-direction: row;
  font-size: 1.125em;
}

.header-nav__list-item {
  margin: 0 25px;
}

.header-nav__list-item a {
  padding-bottom: 5px;
  text-transform: uppercase;
  transition: all 0.1s;
}

.header-nav__list-item a:hover {
  border-bottom: 2px solid #fff;
}

.header-nav__list-item a:active {
  color: #737373;
  border-color: #737373;
}

.header-top__btn {
  margin:  7px 0 auto auto;
}

.header-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 122px;
  padding-bottom: 204px;

}

.promo {
  display: flex;
  flex-direction: row;
  text-align: center;

}

.promo__link {
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, sans-serif;
  font-weight: bold;
  font-size: 2.8em;
  line-height: 1.2;
}