.site-reviews__container {
  padding-top: 75px;
  padding-bottom: 90px;
}

.reviews-top__section-title {
  margin: 1px auto auto 0;
}

.reviews-top__btn {
  margin: 0 0 auto auto;
}

.reviews__reviews-list {
  display: flex;
  flex-direction: row;
}

.reviews-list__item {
  padding-left: 50px;
  padding-right: 88px;
  border-left: 3px solid #8d745a;
}

.review-text {
  margin-bottom: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.review-author {
  font-weight: 700;
  color: #000;
}