.site-reviews {
  background-color: #fff;
}

.site-reviews__inner-container {
  padding-top: 68px;
  padding-bottom: 90px;
}

.reviews-top__wrapper {
  padding-bottom: 66px;
}

.reviews-top__container-title {
  margin: 0 auto 0 0;
}

.reviews-top__container-button {
  margin: 0 0 0 auto;
}

.blockquote {
  padding: 3px 0;
  box-sizing: border-box;
  border-left: 3px solid #a38b70;
}

.blockquote__wrapper {
  margin-left: 49px;
}

.review-text {
  width: 80.6%;
  margin-bottom: 20px;
  line-height: 1.5;
}

.review-author {
  font-weight: 700;
  color: #000;
}