<div class="site-layout__cat-reference">
    <section class="site-cat-reference">
        <div class="site-cat-reference__container container">
            <div class="site-cat-reference__inner-container inner-container">
                <div class="cat-reference-top">
                    <div class="cat-reference-top__wrapper wrapper">
                        <div class="cat-reference-top__container-title">
                            <h2 class="section-title">Немного теории</h2>
                        </div>
                        <div class="cat-reference-top__container-button">
                            <button class="btn" type="button">Справочник</button>
                        </div>
                    </div>
                </div>
                <div class="cat-reference-middle">
                    <div class="cat-reference-middle__wrapper wrapper">
                        <div class="cat-reference-middle__container-article">
                            <article class="cat-reference-article">
                                <div class="cat-reference-article__content">
                                    <dl class="cat-reference__definition-list">
                                        <dt class="cat-reference__definition-term">
                                            <b class="definition-term-text--bold">Окрас кошек и котов</b>
                                            <i class="definition-term-text--italic">источник:</i>
                                            <a class="cat-reference__link">wikipedia</a>
                                        </dt>
                                        <dd class="cat-reference__definition-description">
                                            <div class="article-image image-cat-colors"></div>
                                            <p class="article-text">
                                                Окрас шерсти, кожи и глаз кошки обусловлен присутствием
                                                в них пигмента меланина. Меланин находится в теле волоса
                                                в виде микроскопических гранул, которые различаются по форме,
                                                размеру и количеству, что и вызывает различия в окрасе.
                                            </p>
                                        </dd>
                                    </dl>
                                </div>
                            </article>
                        </div>
                        <div class="cat-reference-middle__container-article">
                            <article class="cat-reference-article">
                                <div class="cat-reference-article__content">
                                    <dl class="cat-reference__definition-list">
                                        <dt class="cat-reference__definition-term">
                                            <b class="definition-term-text--bold">Кошкин дом</b>
                                            <i class="definition-term-text--italic">источник:</i>
                                            <a class="cat-reference__link">kotmurr.spb.ru</a>
                                        </dt>
                                        <dd class="cat-reference__definition-description">
                                            <div class="article-image image-cat-house"></div>
                                            <p class="article-text">
                                                Нужен ли кошке Кошкин дом? Свой отдельный, обособленный
                                                от пространства городской квартиры Кошкин дом? Да, нужен!
                                                Нужен особый Кошкин дом, обустроенный по ее вкусу с лесенкой,
                                                с когтеточкой, с замкнутым, своим, отдельным уголком в ее,
                                                кошкином, доме.
                                            </p>
                                        </dd>
                                    </dl>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>