<div class="site-layout__features">
    <section class="site-features">
        <div class="site-features__container container">
            <div class="site-features__inner-container inner-container">
                <div class="features-top">
                    <div class="features-top__wrapper wrapper">
                        <div class="features-top__container-features-list">
                            <ul class="feauture-list">
                                <li class="feauture-list__item">
                                    <div class="feature-list__item-content">
                                        <i class="feauture-icon icon-choice"></i>
                                        <h2 class="feauture-title">Выбор</h2>
                                        <p class="feauture-description">
                                            Ваш питомец оценит широту нашего
                                            ассортимента аксессуаров.
                                        </p>
                                    </div>
                                </li>
                                <li class="feauture-list__item">
                                    <div class="feature-list__item-content">
                                        <i class="feauture-icon icon-quality"></i>
                                        <h2 class="feauture-title">Качество</h2>
                                        <p class="feauture-description">
                                            Наши товары не сломаются на
                                            второй день. Только на третий.
                                        </p>
                                    </div>
                                </li>
                                <li class="feauture-list__item">
                                    <div class="feature-list__item-content">
                                        <i class="feauture-icon icon-safety"></i>
                                        <h2 class="feauture-title">Безопасность</h2>
                                        <p class="feauture-description">
                                            Все изготовлено из натуральных
                                            материалов, безопасных для котов.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>