<div class="site-layout__goods">
    <section class="site-goods">
        <div class="site-goods__container container">
            <div class="site-goods__inner-container inner-container">
                <div class="goods-top">
                    <div class="goods-top__wrapper wrapper">
                        <div class="goods-top__container-title">
                            <h2 class="section-title">Популярные товары</h2>
                        </div>
                        <div class="goods-top__container-button">
                            <button class="btn" type="button">Каталог</button>
                        </div>
                    </div>
                </div>
                <div class="goods-middle">
                    <div class="goods-middle__wrapper wrapper">
                        <div class="goods-middle__container-short-catalog">
                            <ul class="short-catalog">
                                <li class="short-catalog__item">
                                    <div class="short-catalog__item-content">
                                        <div class="good-image">
                                            <img src="img/classic.jpg" alt="classic">
                                        </div>
                                        <div class="good-info">
                                            <div class="good-name-and-price">
                                            <span class="good-name">
                                                Очки &laquo;Классика жанра&raquo;
                                            </span>
                                                <span class="good-price">300 р.</span>
                                            </div>
                                            <div class="good-buttons">
                                                <button class="btn btn_brown btn-good"
                                                        type="button">Описание</button>
                                                <button class="btn btn_brown btn-good"
                                                        type="button">Купить</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="short-catalog__item">
                                    <div class="short-catalog__item-content">
                                        <div class="good-image">
                                            <img src="img/jalousie.jpg" alt="classic">
                                        </div>
                                        <div class="good-info">
                                            <div class="good-name-and-price">
                                            <span class="good-name">
                                                Очки &laquo;Жалюзи&raquo;
                                            </span>
                                                <span class="good-price">400 р.</span>
                                            </div>
                                            <div class="good-buttons">
                                                <button class="btn btn_brown btn-good"
                                                        type="button">Описание</button>
                                                <button class="btn btn_brown btn-good"
                                                        type="button">Купить</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="short-catalog__item">
                                    <div class="short-catalog__item-content">
                                        <div class="good-image">
                                            <img src="img/basillio.jpg" alt="classic">
                                        </div>
                                        <div class="good-info">
                                            <div class="good-name-and-price">
                                            <span class="good-name">
                                                Очки &laquo;Базилио&raquo;
                                            </span>
                                                <span class="good-price">500 р.</span>
                                            </div>
                                            <div class="good-buttons">
                                                <button class="btn btn_brown btn-good"
                                                        type="button">Описание</button>
                                                <button class="btn btn_brown btn-good"
                                                        type="button">Купить</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="goods-bottom">
                    <div class="site-layout__services">
                        <section class="site-services">
                            <div class="site-services__container">
                                <div class="site-services__inner-container">
                                    <div class="services-top">
                                        <div class="services-top__wrapper wrapper">
                                            <div class="services-top__container-title">
                                                <h2 class="section-title">Прайс-лист на услуги</h2>
                                            </div>
                                        </div>
                                        <div class="services-middle">
                                            <div class="services-middle__wrapper wrapper">
                                                <div class="services-middle__container-table">
                                                    <table class="services-table">
                                                        <tr class="table-row t-row-0">
                                                            <th class="table-header t-header-0">№</th>
                                                            <th class="table-header t-header-1">Название услуги</th>
                                                            <th class="table-header t-header-2">Кто оказывает</th>
                                                            <th class="table-header t-header-3">Сколько стоит</th>
                                                        </tr>
                                                        <tr class="table-row t-row-1">
                                                            <td class="table-cell t-cell-0">1.</td>
                                                            <td class="table-cell t-cell-1">Стрижка</td>
                                                            <td class="table-cell t-cell-2">Груммер</td>
                                                            <td class="table-cell t-cell-3">500 руб.</td>
                                                        </tr>
                                                        <tr class="table-row t-row-2">
                                                            <td class="table-cell t-cell-0">2.</td>
                                                            <td class="table-cell t-cell-1">Заточка когтей</td>
                                                            <td class="table-cell t-cell-2">Груммер</td>
                                                            <td class="table-cell t-cell-3">300 руб.</td>
                                                        </tr>
                                                        <tr class="table-row t-row-3">
                                                            <td class="table-cell t-cell-0">3.</td>
                                                            <td class="table-cell t-cell-1">Накрутка усов</td>
                                                            <td class="table-cell t-cell-2">Груммер</td>
                                                            <td class="table-cell t-cell-3">100 руб.</td>
                                                        </tr>
                                                        <tr class="table-row t-row-4">
                                                            <td class="table-cell t-cell-0">4.</td>
                                                            <td class="table-cell t-cell-1">Подбор аксессуаров</td>
                                                            <td class="table-cell t-cell-2">Стилист</td>
                                                            <td class="table-cell t-cell-3">1500 руб.</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>