<div class="site-layout__reviews">
    <section class="site-reviews">
        <div class="site-reviews__container container">
            <div class="site-reviews__inner-container inner-container">
                <div class="reviews-top">
                    <div class="reviews-top__wrapper wrapper">
                        <div class="reviews-top__container-title">
                            <h2 class="section-title">Довольные коты</h2>
                        </div>
                        <div class="reviews-top__container-button">
                            <button class="btn" type="button">Все отзывы</button>
                        </div>
                    </div>
                </div>
                <div class="reviews-middle">
                    <div class="reviews-middle__wrapper wrapper">
                        <div class="reviews-middle__container-review">
                            <blockquote class="blockquote">
                                <div class="blockquote__wrapper">
                                    <p class="review-text">
                                        Спасибо Кексу за давно напрашивающуюся идею!
                                        Набрал себе очков на все случаи жизни:
                                        для чтения и для вечеринки с котанами B-)
                                    </p>
                                    <cite class="review-author">Барсик, г. Москва</cite>
                                </div>
                            </blockquote>
                        </div>
                        <div class="reviews-middle__container-review">
                            <blockquote class="blockquote">
                                <div class="blockquote__wrapper">
                                    <p class="review-text">
                                        Я просто не могу без шоппинга и теперь не
                                        нужно тащить хозяйку в магазин, заказываю
                                        все аксессуары на сайте у Кекса он-лайн!
                                    </p>
                                    <cite class="review-author">Мурка, г. Санкт-Петербург</cite>
                                </div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>